<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>용역계약서 입력</title>
	</th:block>
	<th:block layout:fragment="customBody">
	<div class="x_panel">
                  <div class="x_title">
                    <label for="ex3">프로젝트 코드 : </label>
                    <label>19004</label><br>
                    <label for="ex4">프로젝트 명 : </label>
                    <label>초코우유 프로젝트</label>
                    <ul class="nav navbar-right panel_toolbox">
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    <div class="form-inline">
                  <div class="form-group">
                    <label for="ex3">계약일자 </label>
                    <input type="date">
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="ex3">계약기간 </label>
                    <input type="date">
                    ~
                    <input type="date">
                    <select>
                    	<option>1</option>
                    	<option>2</option>
                    	<option>3</option>
                    	<option>4</option>
                    	<option>5</option>
                    </select>
                    <label for="ex3"> 까지</label>
                  </div>
                  </div>
                </div>
		</div>
	<div class="x_panel">
    <div class="x_title">
    <label for="ex3"> 발주처</label>
      <div class="nav navbar-right panel_toolbox">
                      <label for="ex3">추가</label>
                       <label for="ex3">삭제</label>
                    </div>
                  </div>
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>순번</th>
                          <th>발주처</th>
                          <th>발주처구분</th>
                          <th>지분(%)</th>
                          <th>계약금액</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>the Bird</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>the Bird</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                        <tr>
                          <th scope="row">6</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                        <tr style="background-color:#ffeeaa">
                    		<th scope="row">합계</th>
                    		<th scope="row"></th>
                    		<th scope="row"></th>
                    		<th scope="row">100.0</th>
                    		<th scope="row">198,411,949</th>
                    	</tr>
                      </tbody>
                    </table>
	</div>
	</div>
	</th:block>
</html>