<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart30.team01.cooperation.Mapper.CooperationMapper">

 <!-- 외주관리 - 외주계약서 관리 - 외주계약서 검색 쿼리 -->
	<select id="getCooperationList" 
		parameterType="ksmart30.team01.cooperation.domain.CooperationSearchRequest" 
		resultType="java.util.Map">
		SELECT 
			A.* 
		FROM 
   		  (
   			SELECT ISNULL((SELECT PJT_NM   FROM T_SM3000 WHERE T_SM3000.PJT_CD  = A.PJT_CD),' ') PJT_NM,<!-- 프로젝트 한글명 -->
		        A.OUT_CORP,<!-- 사업자번호 (정렬시 필요) -->
		        A.OUT_ITEM,<!-- 부문코드(외주분야)정렬시 필요 -->
		        A.CONTRACT_NM,<!-- 용역 한글명 -->
		        A.DEPT_CD,<!-- 부서코드 정렬시 필요 -->
		        A.CONTRACT_DATE, <!-- 계약일자 -->
		        A.CONTRACT_AMT,<!-- 계약금액 -->
		        B.CUST_NM,<!-- 외주처(발주처,거래처) -->
		        D.LEVEL2_NM E_RMK_NM,<!-- 종료구분(기성단계?)한글이름 -->
		        E.DEPT_NM, <!-- 부서 한글명  -->
		        F.LEVEL2_NM OUT_ITEM_NM,<!-- 부문 한글명 -->
		        A.PJT_CD,<!-- 프로젝트 코드  -->
	         	(CASE ISNULL(G.PJT_E_GBN,'') 
	         			WHEN ''  THEN '진행'
	                    WHEN ' ' THEN '진행'
	                    WHEN '1' THEN '준공'
	                    WHEN '2' THEN '중도타절' 
	                   	END) PJT_E_GBN_NM, <!-- (종료구분)진행여부  -->
	         	(CASE WHEN ISNULL(G.TOT_CONTRACT_AMT,0) != 0 
	         			AND
	                	   ISNULL(G.PJT_CONTRACT_AMT,0) != 0 
	                	THEN 
	                		(ISNULL(G.TOT_CONTRACT_AMT,0)/ISNULL(G.PJT_CONTRACT_AMT,0))*100
	                    ELSE 
	                    	0
	         			END) 
	         				PJT_CONTRACT_PER,<!-- 지분율 -->
	         	G.G_YAREA_P, <!-- 연면적 (평) -->
	         	G.G_YAREA_M, <!-- 연면적 (m) -->
	         	G.BUILD_TYPE,
         		(SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'J' AND LEVEL1_CD = '170' AND LEVEL2_CD = G.BUILD_TYPE) BUILD_TYPE_NM <!-- 부서 한글명 -->
    		FROM 
    			T_P12000 A, <!-- 외주계약서 -->
         		T_AC0300 B,	<!-- 발주처 -->
         		(SELECT * FROM T_SC9100 WHERE BUSI_GB = 'J' AND LEVEL1_CD = '130') D,<!-- 종료구문(기성단계?)  -->
         		T_SC1010 E, <!-- 부서 -->
         		(SELECT * FROM T_SC9100 WHERE BUSI_GB = 'J' AND LEVEL1_CD = '160') F,<!-- 부문 -->
         		T_P11000 G <!-- 프로제트 대장 -->
	  	 	WHERE 
	  	 		A.OUT_CORP *= B.CUST_CD <!-- 외주처 코드  -->
	     	 AND 
	     	 	A.E_RMK    *= D.LEVEL2_CD <!-- 종료단서  기성단계-->
	     	 AND 
	     	 	A.DEPT_CD  *= E.DEPT_CD <!-- 부서코드 -->
	     	 AND 
	     	 	A.OUT_ITEM *= F.LEVEL2_CD <!-- 부문 코드  -->
	     	 AND 
	     	 	A.PJT_CD   *= G.PJT_CD <!-- 프로젝트 코드 -->
  			) A,
  		  (SELECT * FROM SF_SC1010('03', '', #{inDeptCd},'')) D  <!-- 부서코드 입력 -->
		WHERE 
			A.DEPT_CD = D.DEPT_CD <!-- 부서코드 -->
   		 AND 
   		 	A.CONTRACT_DATE LIKE #{inContractDate} + '%'  <!-- 년도검색 4 자리 입력 -->
   		 AND 
   		 	A.PJT_CD      
   		 		LIKE '%' + #{inPjtCd} +'%' <!-- 프로젝트코드 입력-->
   		 AND 
   		 	A.PJT_NM      
   		 		LIKE '%' + #{inPjtNm}  +'%' <!-- 프로젝트네임 입력-->
   		 AND 
   		 	A.OUT_ITEM    
   		 		LIKE '%' + #{inOutItem} + '%' <!--  외주부문(외주분야) 입력-->
   		 AND 
   		 	A.CUST_NM     
   		 		LIKE '%' +  #{inCustNm} + '%' <!--  외주처명(발주처,거래처) 입력-->
   		 AND 
   		 	A.CONTRACT_NM 
   		 		LIKE '%' + #{inContractNm} + '%' <!--  용역명(외주계약명) 입력-->
   		 AND 
   		 	A.BUILD_TYPE  
   		 		LIKE '%' + #{inBuildType} + '%' <!--  건축물 유형 입력-->
 		ORDER BY 
 			A.DEPT_CD,  <!-- 검색 정렬 순서 : 부서->프로젝트->외주분야->사업자번호 -->
 			A.PJT_CD, 
 			A.OUT_ITEM, 
 			A.OUT_CORP

	</select>
<!-- 외주관리 - 외주계약서 관리 - 외주계약서 검색 쿼리 -->
	<!--입력 위한 PJT별 용역 계약현황 검색-->
	<select id="getCooperationPJT"
		parameterType="String"
		resultType="java.util.Map">
	
		SELECT 
			 C.LEVEL2_NM as OUT_ITEM_NM <!-- 부문 -->
			,B.CUST_NM as CUST_NM <!-- 외주처 -->
		 	,A.contract_amt as CONTRACT_AMT <!-- 계약액 -->
		 	,PJT_CD as PJT_CD
		 	,A.OUT_CORP as OUT_CORP
		FROM 
			 T_P12000 A <!-- 외주계약서  -->
			,T_AC0300 B <!-- 계약처(외주처) -->
			,(SELECT * FROM T_SC9100 WHERE BUSI_GB = 'J' AND LEVEL1_CD = '160')C <!-- 부문  -->
		WHERE 
			A.out_corp *= B.CUST_CD
			AND
			A.OUT_ITEM *= C.LEVEL2_CD
			AND
			A.pjt_cd LIKE '%'+#{PJT_CD}+'%'
		ORDER BY
			OUT_ITEM
	</select>
	<!--입력 위한 PJT별 예산현황 검색-->
	<select id="getCooperationYesan"
		parameterType="String"
		resultType="java.util.Map">
	
		SELECT
		 	B.LEVEL2_NM as SCV_NM <!-- 부문 -->
		 	,A.EX_AMT as EX_AMT <!-- 계약예산 -->
		 	,ISNULL(A.EX_WORK_AMT,0) as EX_WORK_AMT <!-- 실행예산 -->
		FROM 
		 	T_P11070 A <!-- 외주용역 -->
		 	,(SELECT * FROM T_SC9100 WHERE BUSI_GB = 'J' AND LEVEL1_CD = '160')B <!-- 부문출력 -->
		WHERE 
			A.SCV_PART *= B.LEVEL2_CD
			AND
			A.PJT_CD LIKE '%'+#{PJT_CD}+'%'
		ORDER BY
			SCV_PART
	</select>
	<!-- 계약프로젝트 기본 정보 검색(프로젝트,수행부서,PM) -->
	<select id="getCooperationPJTPM"
		parameterType="String"
		resultType="java.util.Map">
		SELECT 
			A.PJT_CD as PJT_CD <!-- 프로젝트코드 -->
			,B.PJT_NM as PJT_NM <!-- 프로젝트 한글명 -->
			,D.DEPT_CD as DEPT_CD <!-- 수행부서 코드 -->
			,D.DEPT_NM as DEPT_NM <!-- 수행부서 한글명 -->
			,C.KOR_NM as PM_NM <!-- PM 한글명 -->
		FROM 
			 T_P11000_H A <!-- 프로젝트 히스토리(상세?) -->
			,T_SM3000 B <!-- 프로젝트 대장 -->
			,T_HM1000 C <!-- 사원정보 -->
			,T_SC1010 D <!-- 수행부서 -->
		WHERE
			 A.PJT_CD *= B.PJT_CD
			and
			 A.PM_EMP_NO *= C.EMP_NO
			and
			 A.DEPT_CD *= D.DEPT_CD
			and
		  	 A.PJT_CD = #{PJT_CD}
			and 
			 PJT_SEQ = (SELECT max(PJT_SEQ)from T_P11000_H WHERE PJT_CD = #{PJT_CD})
	</select>
	<!-- 계약서 본문 출력  -->
	<select id="getCooperationPJTSangse"
		parameterType="ksmart30.team01.cooperation.domain.cooperationSangseRequest"
		resultType="java.util.Map">
		SELECT * from T_P12000 WHERE PJT_CD = #{PJT_CD} and out_corp = #{OUT_CORP}
	</select>
</mapper>