<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>용역계약서 변경 조회</title>
		<th:block th:include="layout/customHead"></th:block>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
		
		// 용역계약서 리스트에서 현황 리스트를 출력하는 메서드
		function pjtOneBtn(PJT_CD) {
			console.log(PJT_CD);
			$.ajax({
				url:'/project/projectManageChangeHyunhwangListProcess',
				type:'POST',
				data:{PJT_CD:PJT_CD},
				success:function(data) {
					console.log(data);
					$('#pjtHistoryDetailList').empty();
					for(let i=0; i<data.length; i++) {
						$('#pjtHistoryDetailList').append('<tr id="test" onclick="pjtSangseBtn('+data[i].PJT_CD+','+data[i].PJT_SEQ+')"><td>'+data[i].PJT_DATE+'</td><td>'+data[i].LEVEL2_NM+'</td></tr>');
					}
					pjtSangseBtn(data[0].PJT_CD, data[0].PJT_SEQ);
				}
			});
		}
		
		// 현황 리스트에서 해당 용역계약서의 상세 내용을 출력하는 메서드
		function pjtSangseBtn(PJT_CD, PJT_SEQ) {
			console.log(PJT_CD,PJT_SEQ);
			$.ajax({
				url:'/project/projectManageChangeSangseProcess',
				type:'POST',
				data:{PJT_CD:PJT_CD, PJT_SEQ:PJT_SEQ},
				success:function(data) {
					console.log(data);
					$('#S_PJT_CD').empty();				// 프로젝트 코드
					$('#S_PJT_CD').append(data.PJT_CD);
					$('#S_PJT_NM').empty();				// 프로젝트 명
					$('#S_PJT_NM').append(data.PJT_NM);
					$('#S_DEPT_NM').empty();			// 수행부서명
					$('#S_DEPT_NM').append(data.DEPT_NM);
					$('#S_PM_EMP_NM').empty();			// PM
					$('#S_PM_EMP_NM').append(data.PM_EMP_NM);
					$('#S_PJT_DATE').empty();			// 변경 일자
					$('#S_PJT_DATE').append(data.PJT_DATE);
					$('#S_LEVEL2_NM').empty()			// 변경 구분
					$('#S_LEVEL2_NM').append(data.LEVEL2_NM);
					$('#S_CHANGE_SAYU').empty();		// 변경 사유
					$('#S_CHANGE_SAYU').append(data.CHANGE_SAYU);
					$('#AFTER_TOT_CONTRACT_AMT').empty();	// 당사총계약액 변경(후)
					$('#AFTER_TOT_CONTRACT_AMT').append(data.TOT_CONTRACT_AMT);
					$('#AFTER_PJT_CONTRACT_AMT').empty();	// PJT총계약액 변경(후)
					$('#AFTER_PJT_CONTRACT_AMT').append(data.TOT_CONTRACT_AMT);
					$('#AFTER_G_AREA_P').empty();		// 대지면적 변경(후)
					$('#AFTER_G_AREA_P').append(data.G_AREA_P);
					$('#AFTER_G_AREA_M').empty();
					$('#AFTER_G_AREA_M').append(data.G_AREA_M);
					$('#AFTER_G_YAREA_P').empty();		//연면적 변경(후)
					$('#AFTER_G_YAREA_P').append(data.G_YAREA_P);
					$('#AFTER_G_YAREA_M').empty();
					$('#AFTER_G_YAREA_M').append(data.G_YAREA_M);
				}
			});
		}
		
		// 전체 document ready
		$(document).ready(function(){
			$('#pjtSearchBtn').click(function(){
				let PJT_CD = $('#pjtCd').val();
				let YEAR = $('#pjtYear').val();
				let DEPT_CD = $('#pjtDept').val();
				console.log(PJT_CD+YEAR+DEPT_CD);
				
				$.ajax({
					url:'/project/projectManageChangeListProcess',
					type:'POST',
					data:{PJT_CD:PJT_CD, DEPT_CD:DEPT_CD, YEAR:YEAR},
					success:function(data){
						console.log(data);
						$('#pjtHistoryList').empty();
						for(let i=0; i<data.length; i++) {
							$('#pjtHistoryList').append('<tr><td style="background-color:#fff9df">'+data[i].PJT_CD+'</td><td onclick="pjtOneBtn('+data[i].PJT_CD+')">'+data[i].PJT_NM+'</td></tr>');
						}
						pjtOneBtn(data[0].PJT_CD);
					}
				});
			});
		});
		</script>
	</th:block>
	<th:block layout:fragment="customBody">
	<div class="col-md-9 col-xs-12" style="color:black;">
        <div class="page-title">
			<div class="title_left">
				<h2><b>전표상세검색</b></h2>
				<h5><font color="gray"><b>8.회계관리&nbsp;>&nbsp;&nbsp;8.1회계입력&nbsp;>&nbsp;&nbsp;8.2회계입력</b></font></h5>			
			</div>
		</div>
    </div>
    
    <div class="x_content" style="text-align:right">
		<div class="btn-group" >
			<button class="btn btn-default" type="reset">입력</button>
			<button class="btn btn-default" type="button">수정</button>
			<button class="btn btn-default" type="button">삭제</button>
			<button class="btn btn-default" type="button">저장</button>
			<button class="btn btn-default" type="button">출력</button>
		</div>
	</div>
	<font color="black">
		<!-- 검색부분 start -->
		<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="x_panel">
		<div class="x_content">
		<div  style="overflow-x:auto">
			<label for="ex3">검색조건</label><br>
			<table>
				<tr>
					<td>
						년도
					</td>
					<td>
						<input type="number" id="pjtYear">
					</td>
				</tr>
				<tr>
					<td>
						부서
					</td>
					<td>
						<select id="pjtDept">
							<option value="">전 사</option>
							<option value="7530">설계1본부</option>
							<option value="7630">설계2본부</option>
							<option value="7730">설계3본부</option>
							<option value="7830">설계4본부</option>
							<option value="7930">설계5본부</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						코드명
					</td>
					<td>
						<input type="text" id="pjtCd">
					</td>
					<td>
						<button type="submit" id="pjtSearchBtn">검색</button>
					</td>
				</tr>
			</table>
			</div>
			<!-- 검색부분 end -->
			<div class="x_title">
			</div>
			<!-- 결과부분 start -->
			<table class="table table-bordered" style="overflow:auto">
				<thead>
				<tr>
					<th width="30%">PJT코드</th><th>프로젝트명</th>
				</tr>
				</thead>
				<tbody id="pjtHistoryList">
				</tbody>
			</table>
			<!-- 결과부분 end -->
			<div class="x_title">
			<span>◎ 계약서 변경 현황</span>
			</div>
			<!-- 계약서변경현황 start -->
			<table class="table table-bordered">
				<thead>
				<tr>
					<th width="30%">변경일자</th><th>변경구분</th>
				</tr>
				</thead>
				<tbody id="pjtHistoryDetailList">
				</tbody>
			</table>
			<!-- 계약서변경현황 end -->
		</div>
		</div>
		</div>
		
		<!-- 프로젝트 start -->
		<div class="col-md-9 col-sm-6 col-xs-12">
		<div class="x_panel">
		<div class="x_content">
		<table class="table table-bordered">
			<tr>
				<td style="background-color:#f3f3f3" width="25%">프로젝트</td>
				<td colspan="3"><span id="S_PJT_CD"></span>, <span id="S_PJT_NM"></span></td>
			</tr>
			<tr>
				<td style="background-color:#f3f3f3" width="25%">수행부서</td>
				<td width="25%"><span id="S_DEPT_NM"></span></td>
				<td width="25%" style="background-color:#f3f3f3">PM</td>
				<td width="25%"><span id="S_PM_EMP_NM"></span></td>
			</tr>
		</table>
		<table class="table table-bordered">
			<tr>
				<td style="background-color:#f3f3f3" width="25%">변경일자</td>
				<td width="25%"><span id="S_PJT_DATE"></span></td>
				<td width="25%" style="background-color:#f3f3f3">변경구분</td>
				<td width="25%"><span id="S_LEVEL2_NM"></span></td>
			</tr>
			<tr>
				<td style="background-color:#f3f3f3" width="25%">변경사유</td>
				<td colspan="3" id="S_CHANGE_SAYU"></td>
			</tr>
		</table>
		<table class="table table-bordered">
			<tr>
				<td style="background-color:#f3f3f3" width="25%">구분</td>
				<td style="background-color:#f3f3f3">원계약</td>
				<td style="background-color:#f3f3f3">변경(후)</td>
			</tr>
			<tr>
				<td style="background-color:#f3f3f3" width="25%">당사 총계약액</td>
				<td>1,000,000,000원</td>
				<td><span id="AFTER_TOT_CONTRACT_AMT"></span></td>
			</tr>
			<tr>
				<td style="background-color:#f3f3f3" width="25%">PJT 총계약액</td>
				<td>1,000,000,000원</td>
				<td><span id="AFTER_PJT_CONTRACT_AMT"></span></td>
			</tr>
			<tr>
				<td style="background-color:#f3f3f3" width="25%">대지면적</td>
				<td>150.13평, 496.3m²</td>
				<td><span id="AFTER_G_AREA_P"></span>평, <span id="AFTER_G_AREA_M"></span>m²</td>
			</tr>
			<tr>
				<td style="background-color:#f3f3f3" width="25%">연면적</td>
				<td>100.13평, 331.01m²</td>
				<td><span id="AFTER_G_YAREA_P"></span>평, <span id="AFTER_G_YAREA_M"></span>m²</td>
			</tr>
		</table>
		
		<!-- 발주처 -->
		<label for="ex3"> 발주처</label>
                  </div>
                  <div class="x_content" style="overflow-x:auto">
                    <table class="table table-bordered" >
                    	<thead>
                    	<tr>
                    		<th rowspan="2">순번</th>
                    		<th rowspan="2">발주처</th>
                    		<th colspan="2">변경(전)</th>
                    		<th colspan="2">변경(후)</th>
                    	</tr>
                    	<tr>
                    		<th>지분(%)</th>
                    		<th>계약금액</th>
                    		<th>지분(%)</th>
                    		<th>계약금액</th>
                    	</tr>
                    	</thead>
                    	<tbody>
                    		<tr>
                    			<td>1</td>
                    			<td>현대건설(주)</td>
                    			<td>0.00</td>
                    			<td>1,000,000,000</td>
                    			<td>0.00</td>
                    			<td>1,000,000,000</td>
                    		</tr>
                    	</tbody>
                    	<tr style="background-color:#ffeeaa">
	                    	<th colspan="2">합계</th>
	                    	<th scope="row">0.00</th>
	                    	<th scope="row">1,000,000,000</th>
	                    	<th scope="row">0.00</th>
	                    	<th scope="row">1,000,000,000</th>
                    	</tr>
                    </table>
                  </div>
                  <!-- 기성단계 -->
                  <label for="ex3"> 기성단계</label>
                  <div class="x_content" style="overflow-x:auto">
                    <table class="table table-bordered">
                    	<thead>
                    		<tr>
                    		<th rowspan="2">No</th>
                    		<th rowspan="2">기성단계</th>
                    		<th rowspan="2">단계</th>
                    		<th colspan="2">변경(전)</th>
                    		<th colspan="2">변경(후)</th>
                    	</tr>
                    	<tr>
                    		<th>금액</th>
                    		<th>수금(%)</th>
                    		<th>금액</th>
                    		<th>수금(%)</th>
                    	</tr>
                    	</thead>
                    	<tbody>
                    		<tr>
                    			<td>1</td>
                    			<td>심의 완료후</td>
                    			<td>심 의</td>
                    			<td>100,000,000</td>
                    			<td>0.00</td>
                    			<td>100,000,000</td>
                    			<td>0.00</td>
                    		</tr>
                    		<tr>
                    			<td>1</td>
                    			<td>건축허가(사업승인)완료시</td>
                    			<td>착 공</td>
                    			<td>600,000,000</td>
                    			<td>0.00</td>
                    			<td>600,000,000</td>
                    			<td>0.00</td>
                    		</tr>
                    		<tr>
                    			<td>1</td>
                    			<td>최종 자체검사 완료시</td>
                    			<td>실 시</td>
                    			<td>300,000,000</td>
                    			<td>0.00</td>
                    			<td>300,000,000</td>
                    			<td>0.00</td>
                    		</tr>
                    	</tbody>
                    	<tr style="background-color:#ffeeaa">
	                    	<th colspan="3">합계 </th>
	                    	<th scope="row">1,000,000,000</th>
	                    	<th scope="row">0.00</th>
	                    	<th scope="row">1,000,000,000</th>
	                    	<th scope="row">0.00</th>
                    	</tr>
                    </table>
		</div>
		</div>
		</div>
		<!-- 프로젝트 end -->
		</font>
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>